@charset "utf-8";
/* CSS Document */
/*----------ȫcss begin------*/
html{
width:100%;
margin:0 auto;
}
body{
width:100%;
margin:0 auto;
font-size:12px;
font-family: Arial, Helvetica, sans-serif,"宋体";
line-height:24px;
color:#666666;
background:#FAFAFA;
}
* ul,li,p,div,label{
margin:0;
padding:0;
}
* P,li,ul,h,em,dt,dd{ margin:0;padding:0;}
* ul,dl{
list-style:none;
}
* {PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
* LI {
LIST-STYLE-TYPE: none
}
A IMG {
BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
EM {
FONT-STYLE: normal; FONT-WEIGHT: normal
}
.clear {
	DISPLAY: inline; HEIGHT: 0px; CLEAR: both
}
A {
COLOR: #666666; TEXT-DECORATION: none; cursor:pointer;
}
A:hover {
TEXT-DECORATION:underline; color:#ED1B23;
}

/*----------ȫcss end------*/
.hdtop{ width:1660px; margin:0 auto; background:#EEEEEE; border-bottom:1px solid #FFF; border-top:1px solid #D8D8D8;}
.hdnewssx{ width:2px; float:left; background: url(../images/hdnewssx.gif) no-repeat; height:33px;}
.hdnews{ width:835px; float:left; background: url(../images/newslb.gif) no-repeat 20px 8px; padding-left:45px; font-size:14px; line-height:33px; color:#C00F17;}
.hdhyip{ color:#333333;}
.hdhybt{ width:80px; float:left; font-weight:bold;}
.hyfhsy{ width:82px; float:left; font-size:12px; }



.hdhyhytz{ width:750px; float:left;}
.hdtop2{ width:1660px; margin:0 auto;}


/*----------会员登录页面添加css------*/
.dlzetop{ width:100%; float:left;background:#A21619;}
.navtop{ width:980px; margin:0 auto;}
.dllogo{ width:245px; float:left; height:124px;}

img { vertical-align: top; border: 0; }
#hotpic { width: 730px; height: 124px; overflow: hidden; float:left; }
#NewsPic { position: relative; width: 730px; height:124px; overflow: hidden; }
#NewsPic a { overflow: visible; border: 0; text-decoration: none; }
#NewsPic .Picture { position: absolute; left: 0; top: 0; }
#NewsPic .Nav { position: absolute; height: 13px; line-height: 14px; bottom: 0; right: 0; }
#NewsPic .Nav span { font-size: 12px; font-weight: 400; color: #FFF; float: right; display: block; width: 24px; text-align: center; background: #000; border-left: solid 1px #FFF; cursor: pointer; }
#NewsPic .Nav span.Normal { color: #FFF; background: #000; filter: Alpha(opacity=50); opacity: .5; }
#NewsPic .Nav span.Cur { background: #ce0609; color: #FFF; }

.hddlnews{  width:100%; float:left; background: url(../images/dlnewsbj.gif) repeat-x; height:30px; border-top:5px solid #FFF;}
.zxnews{ width:980px; margin:0 auto; line-height:30px;}
.zxxx{ color:#ba0e0e; background:url(../images/newslb.gif) 5px 5px no-repeat; padding-left:30px; font-size:14px;width:950px; float:left;}
.zxxx span{ color:#000; line-height:30px;}

.hddltop{ width:1660px; margin:0 auto; background: url(../images/dlnewsbj.gif) repeat-x;}

.hdhyip{ color:#333333;}
.hddlhybt{ width:80px; float:left; font-weight:bold;}
.hddlhyhytz{width:750px; float:left;}

.hydlmain{ width:980px; margin:0 auto; background:#FAFAFA;}
.hdzxtg{ width:980px; margin:0 auto;}
.hyfore1{ width:980px; float:left; background:url(../images/zcbz1.png) no-repeat 0 30px; height:120px;}
.hyfore2{ width:980px; float:left; background:url(../images/zcbz2.png) no-repeat 0 30px; height:120px;}
.hyfore3{ width:980px; float:left; background:url(../images/zcbz3.png) no-repeat 0 30px; height:120px;}
.hyfore4{ width:980px; float:left; background:url(../images/zcbz4.png) no-repeat 0 30px; height:120px;}
.hyzcmain{ width:978px; float:left; height:470px; background:#FFF; border:1px solid #D7D7D7;}
.hyxzbt{ width:100%; float:left; text-align:center; line-height:50px; height:50px; font-size:16px; font-weight:bold; color:#333333;overflow:hidden;}
.btjc{ font-weight:bold;}
.hyhdxznr{ width:815px; margin:0 auto; }
.xyxznr{width:755px;padding-left:30px; padding-right:30px; line-height:24px; padding-top:20px; color:#333333; float:left; height:300px; border-left:1px solid #E2E3EA;border-top:1px solid #ABADB3; border-bottom:1px solid #E2E3EA; overflow: auto;}
.xydxk{ width:24px; float:left; padding-left:570px; padding-top:25px;}
.xywz{ width:120px; float:left;padding-top:25px;}
.xyban{ width:82px; float:right; line-height:30px; text-align:center; font-size:14px;padding-top:25px; }
.xyqtb{height:24px;float:left; width:20px;}
.xyban a{background:url(../images/xyban.gif) no-repeat; display:block}
.xyban a:hover{background:url(../images/xyban2.gif) no-repeat; text-decoration:none;}
.foot{ width:980px; float:left; text-align:center; padding-top:30px;}

.hydlzcbt{ width:978px; float:left; background:url(../images/zcdlbtbj.gif) repeat-x; height:50px; line-height:50px; font-size:18px; font-family:"黑体";text-align:center; color:#333; margin-bottom:30px; display:inline;}
.hybd{ width:450px; float:left; margin-left:220px; display:inline; font-size:14px; color:#666; height:50px; margin-top:25px;}
.jz{ float:left; }
.dlwbk{ float:left; position: relative; top:0; left:0; z-index:1;}
.dlwbbk{ border:1px solid #D5D5D5; line-height:28px; background: url(../images/dlkbj.gif) repeat-x; height:28px; width:260px;line-height:30px; float:left; font-size:14px;}
.dlnc{ padding-right:5px; line-height:30px;}
.btx{ float:left; color:#ED1B23; font-weight:bold; padding-left:15px; font-size:18px; line-height:30px;}
.zcgzz{ width:260px; position:relative; font-size:12px; color:#A7A7A7; top:-28px; left:85px; z-index:2;}
.sfzhm{ padding-left:15px;}
.yzmbk{ border:1px solid #D5D5D5; line-height:24px; background: url(../images/dlkbj.gif) repeat-x; height:24px; width:105px;line-height:30px; float:left; font-size:14px;}
.kbq{ float:left; padding-left:15px;  line-height:30px;}
.kbq a{TEXT-DECORATION:underline; color:#ED1B23;}
.dlan{font-size:18px; font-family:"黑体"; background:url(../images/dlan.gif) no-repeat 0px 0px;float:left;width:102px; height:38px; line-height:38px;  text-align:center;float:left; margin-left:55px; display:inline;}
.dlan a{width:102px; height:38px; color:#FFF;display:block;}
.dlan a:hover{width:102px; height:38px; color: #FF0; text-decoration:none;display:block;}
.hybdaa{ width:450px; float:left;  font-size:14px; color:#666;margin-bottom:25px;display:inline; height:35px;}
.hybdaaqy{ width:436px; float:left;  font-size:14px; color:#666;}
.jz{ float:left; }
.hyhdxznr3{ width:900px; margin:0 auto; padding-left:78px; padding-top:30px;}
.wzqyk{ width:80px; float:left; height:30px;line-height:30px;padding-top:5px; }
.xzscs{ color:#A7A7A7; float:left;line-height:30px; height:30px;}
.xzs{ padding-left:10px;}
.csly{ width:262px; float:left; height:30px;line-height:30px; padding-top:5px;}
.sjyz{ float:left; padding-left:5px;}
.ghqh{ border:1px solid #D5D5D5; line-height:28px; background: url(../images/dlkbj.gif) repeat-x; height:28px; width:54px;line-height:30px; float:left; font-size:14px;}
.ghdhhm{ border:1px solid #D5D5D5; line-height:28px; background: url(../images/dlkbj.gif) repeat-x; height:28px; width:182px;line-height:30px; float:left; font-size:14px;}
.wcxyban{ width:113px; float:right; line-height:30px; text-align:center; font-size:14px;  margin-top:20px; display:inline;}
.wcxyban a{background:url(../images/wcxyban.gif) no-repeat; display:block}
.wcxyban a:hover{background:url(../images/wcxyban2.gif) no-repeat; text-decoration:none;}
.sjdxyz{ width:356px; height:37px;  background: url(../images/yzsj.gif) no-repeat; position: absolute; font-size:12px; color:#A7A7A7; top:455px; left:930px; z-index:22; padding-top:15px; line-height:30px; padding-left:10px;}
.dxyzbbk{ border:1px solid #D5D5D5; line-height:28px; background: url(../images/dlkbj.gif) repeat-x; height:28px; width:205px;line-height:30px; float:left; font-size:14px; margin-left:5px; display:inline;}
.dxqdan{ width:66px; float:right; height:27px; background:url(../images/yzqd.gif) no-repeat; border:none; cursor:pointer; margin-left:10px; display:inline; color:#666666;  position:relative; top:-28px; z-index:2;}
.zcgzzdxyz{ width:266px; float:left; position:relative; font-size:12px; color:#A7A7A7; top:-28px; left:75px; z-index:2;}

.hycgzc{ width:100%; margin:0 auto; background:url(../images/zccgtb.gif) no-repeat 110px 0px; padding-top:30px; padding-left:240px;font-size:30px; font-family:"黑体"; line-height:70px;}
.hycgzc22{ width:100%; margin:0 auto; background:url(../images/zccgtb.gif) no-repeat 110px 0px; padding-top:30px; padding-left:240px;font-size:20px; font-family:"黑体"; line-height:70px;}
.red{ color:#ED1B23;}
.twoan{ width:250px; margin:0 auto; padding-top:70px;}
.twoan a{ padding-right:10px;}
.threean{ width:400px; margin:0 auto; padding-top:70px;}
.threean a{ padding-right:10px;}
.onean{ width:110px; margin:0 auto; padding-top:70px;}
.hyzcsb{ width:100%; margin:0 auto; background:url(../images/sbtb.gif) no-repeat 120px 10px; padding-top:30px; padding-left:240px;font-size:30px; font-family:"黑体"; line-height:70px;}
.fhsyan img{}







