@charset "utf-8";
/* CSS Document */
.xw,.xw2{ height:300px}
.xw3{ width:963px; border:1px solid #dedede; float:left; padding-bottom:15px}
.xw3 ul li{ float:left}
.schqlist {
    height: 175px;}
.schqbt2{ background: url("../images/newsli.gif") no-repeat scroll 8px 5px #F6F6F6;
    float: left;
    line-height: 30px;
    width: 963px;
	margin-bottom:15px;}
.qchq{ width:948px; padding-left:15px; overflow:hidden; margin-top:15px; float:left; height:175px}
.qchq li{  background: url("../images/libg.gif") no-repeat scroll left center transparent;
    display: block;
    float: left;
    line-height: 25px;
    padding-left: 8px;
    width: 430px;
	margin-right:36px;}
.txw2{ margin-left:40px; margin-right:15px; width:130px; float:left; border:1px solid #dddddd}
.sjtj ul li {
    margin-top: 10px; margin-bottom:10px;}
.listms span{ border-top:1px dashed #DDDDDD; border-bottom:0;padding-top:5px;height:20px; padding-bottom:0; margin-bottom:0;overflow:hidden; white-space:nowrap; width:191px; display:block; font-size:12px;}
.listms{ _margin-top:6px;}
.gg{ float:left}
