<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qlzy.zp.dao.ZpCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.qlzy.model.ZpCompany" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="IMAGE_SRC" property="imageSrc" jdbcType="VARCHAR" />
    <result column="COMPANY_MESSAGE" property="companyMessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, IMAGE_SRC, COMPANY_MESSAGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from QL_ZP_COMPANY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from QL_ZP_COMPANY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qlzy.model.ZpCompany" >
    insert into QL_ZP_COMPANY (ID, IMAGE_SRC, COMPANY_MESSAGE
      )
    values (#{id,jdbcType=VARCHAR}, #{imageSrc,jdbcType=VARCHAR}, #{companyMessage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlzy.model.ZpCompany" >
    insert into QL_ZP_COMPANY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="imageSrc != null" >
        IMAGE_SRC,
      </if>
      <if test="companyMessage != null" >
        COMPANY_MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="imageSrc != null" >
        #{imageSrc,jdbcType=VARCHAR},
      </if>
      <if test="companyMessage != null" >
        #{companyMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlzy.model.ZpCompany" >
    update QL_ZP_COMPANY
    <set >
      <if test="imageSrc != null" >
        IMAGE_SRC = #{imageSrc,jdbcType=VARCHAR},
      </if>
      <if test="companyMessage != null" >
        COMPANY_MESSAGE = #{companyMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlzy.model.ZpCompany" >
    update QL_ZP_COMPANY
    set IMAGE_SRC = #{imageSrc,jdbcType=VARCHAR},
      COMPANY_MESSAGE = #{companyMessage,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="gainZpCompany" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from QL_ZP_COMPANY
  </select>
    
</mapper>