@charset "utf-8";
/* CSS Document */
/*---------------------页面基础定义----------------------------------*/
body {margin:0px;font-family:"微软雅黑"; padding:0px; font-size:12px;background:#FFF;}
img{ border:0px;}
a:active img{ border:0px;}
a { color:#333;/*默认链接*/
	text-decoration: none;	}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
form {/*表单内外补丁为零*/
margin:0;padding:0;}
ul {margin:0;padding:0;}
li {margin:0;padding:0;}
p h1 {padding:0px;margin:0px;}
h4 {font-size:14px;padding:0;margin:0;font-family:"微软雅黑";display:inline;font-weight:lighter; color:#F00;}
h5 {font-size:12px;padding:0;margin:0; color:#F00;font-family:"微软雅黑";display:inline;font-weight:lighter;}
* {margin:0;padding:0;list-style:none;}
h3{color:#F30; font-size:18px;display:inline;font-family:"微软雅黑"; font-weight:lighter;}h2{color:#F30; font-size:24px;font-family:"微软雅黑";font-weight:lighter;padding:0;margin:0; }
.clear{ clear:both;}
/* =========================================首页 start=================================================  */
/*----------- 首页top start------------- */
.index_top{ background-color:#f5f5f5;/* border-bottom:#e4e4e4 solid 1px; */height:30px;}
.index_top_box{ width:1190px; height:35px; margin:0 auto;}
.index_top_let{ float:left; line-height:30px; color:#666;}
.index_top_let span{  padding-left:10px;}
.index_top_let a{ color:#333; padding-left:10px;}
.index_top_ret{ float:right; }
.index_top_ret_let{float:left; width:420px; color:#CC0001;line-height:20px; margin-top:5px; }
.index_top_ret_let a{padding-left:10px;}
.index_top_ret_let span{ padding-left:10px;;}
.index_top_ret_ret{ float:right; width:220px; line-height:28px; color:#666;}
.index_top_ret_ret span{ color:#317872; font-size:16px; font-weight:1px; padding-left:5px;}
.index_top_ret_ret img{padding:5px 5px 5px 10px;}

/*----------- 首页logo start------------- */
.index_logo{ width:1190px; height:114px; margin:0 auto;}
.index_logo_let{ width:360px; float:left;height:114px;}
.index_logo_let img{padding:15px 5px 5px 10px;}
.index_logo_ret{ float:left; width:600px;height:85px; padding-top:20px;}

.index_logo_ret_sou{ float:left; height:40px; padding:3px 0 0 0px; width:430px;}
.index_logo_ret_sou input{ width:430px; height:35px; line-height:30px; border:#268392 solid 2px; color:#999; font-family:"微软雅黑"; }
.index_logo_ret_sou_ret{ float:left; padding:3px 0 0 0px; }
.gouwuche{ float:right; width:153px; height:60px; background:url(../images/zixun/gouwuche.jpg)  no-repeat; margin:25px 10px 0px 0px; }
.index_logo_ret_hot{ line-height:35px;height:35px;}
.index_logo_ret_hot_let{float:left; color:#666;}
.index_logo_ret_hot_let a{ color:#F00; font-weight:bold;}
.index_logo_ret_hot_ret{float:left; color:#666; padding-left:5px;}
.index_logo_ret_hot_ret a{ color:#333; padding-left:5px;}

/*----------- 首页daohang start------------- */
.index_daohang{ background-color:#CC0001; height:46px;}
.index_daohang_box{width:1190px; margin:0 auto;height:46px;  line-height:46px;}
.index_daohang_let{float:left; height:46px; color:#FFF; font-size:16px;}
.index_daohang_let li{ float:left; width:135px; text-align:center;}
.index_daohang_let a{ color:#FFF; display:block;}
.index_daohang_let a:hover{ background-color:#004e65;}
.index_daohang_ret{float:left; color:#FFF; font-size:16px; width:218px; text-align:center;}
.index_daohang_ret a{ color:#FFF;}
.index_daohang_ret a:hover{ background-color:#004e65;}

/*----------- 健康评估内容 start------------- */
.jkpg_miad{width:1190px;margin:0 auto; }
.jkpg_miad_top{width:1190px; height:40px; padding:15px 0 5px 0;border-bottom:#ccc solid 1px;}
.xq_rit_bot{ width:1188px;float:left;line-height:35px; font-size:22px; margin-top:30px;}
.xq_rit_botli{ width:212px; height:56px; float:left; text-align:center; margin-right:10px; background:url(../images/jiankangpg/jkpg_2.png);}
.xq_rit_botli a{ color:#333333;width:212px; height:56px; float:left; line-height:56px;}
.xq_rit_botli a:hover,.xq_rit_botli a.hover{ color:#FFF; background:url(../images/jiankangpg/jkpg.png);width:212px; height:56px; float:left; text-decoration:none;}
.jkpg_nr{ height:380px; border:#CECECE solid 1px; margin-bottom:50px;}
.jkpg_nr_wenzi{ float:left;width:340px; }
.jkpg_yaotun_nr_wenzi1{ height:30px; line-height:30px; font-size:18px; text-align:center; color:#358375;margin-top:30px; margin-bottom:10px;}
.jkpg_nr_wenzi p{ color:#333; padding-left:20px; padding-right:20px; line-height:30px; font-size:14px;}
.jkpg_tu{ float:left; width:5px;}
.jkpg_tu2{float:left; width:230px; margin-left:110px; padding-top:100px;}

/*----------- 健康评估右1内容 start------------- */
.jkpg_right{ float:left; width:300px;  margin-left:40px;}
.jkpg_shengao{ height:30px; line-height:30px; font-size:16px; margin-top:100px;}
.jkpg_shengao_let{ float:left; width:85px;}
.jkpg_shengao_mid{float:left; width:105px;height:30px;}
.jkpg_shengao_mid input{ width:105px; height:30px;border:#e4e4e4 solid 1px;font-family:"微软雅黑"; padding-left:10px;}
.jkpg_shengao_rit{float:right; width:90px;}
.jkpg_tizhong{ height:30px; line-height:30px; font-size:16px; padding-top:10px;}
.jkpg_tizhong_let{ float:left; width:85px;}
.jkpg_tizhong_mid{float:left; width:105px;height:30px;}
.jkpg_tizhong_mid input{ width:105px; height:30px;border:#e4e4e4 solid 1px;font-family:"微软雅黑"; padding-left:10px;}
.jkpg_tizhong_rit{float:right; width:90px;}
.jkpg_ceshi{ height:30px; margin-top:10px; text-align:center; }
.jkpg_wzsm{height:40px; margin-top:10px; text-align:center; line-height:20px; font-size:14px; color:#666;}
.jkpg_wzsm span{ color:#000;}

/*----------- 健康评估右2内容 start------------- */
.jkpg_rit_nr{ float:left;width:760px;}
.jkpg_rit_nr_top{ height:30px; line-height:30px; margin-top:20px;font-size:18px;margin-left:30px;}
.jkpg_rit_nr_top1{ height:30px; line-height:30px;   font-size:14px;margin-left:30px;}
.jkpg_rit_nr_top1 span{ color:#F30; font-weight:bold 1px;}
.jkpg_yt_rit{line-height:15px; margin-top:20px;  margin-left:30px; border-bottom:#EFEFEF  solid 1px; border-right:#EFEFEF solid 1px;}
.jkpg_yt_rit table{}
.jkpg_yt_rit table td{border-right:#e4e4e4 solid 1px;border-top:#e4e4e4 solid 1px;padding:10px; height:20px; line-height:20px;}
.jkpg_yjkzc_rit_02{ float:left;width:200px;}
.jkpg_yjkzc_rit_02 span{ padding-left:15px;}
.jkpg_jisuan1{ float:left; height:31px; width:460px; line-height:31px;text-align:center; padding-left:10px;}
.jkpg_jisuan1 input{  height:29px; width:460px; padding-left:10px; font-family:"微软雅黑"; color:#F00;text-align:center;}
.jkpg_jisuan img{ float:left;height:33px; width:62px; padding-left:20px;}
.jkpg_jisuan_bot{ height:30px; margin-top:20px; line-height:30px;}
.jkpg_jisuan_tu{ padding-left:251px;}
.jkpg_jisuan_bot img{ padding-left:10px;}
.jkpg_jisuan_bot span{ color:#F60; font-weight:bold 1px; padding-left:10px; }
.jkpg_jisuan_00 li{ line-height:40px; border-bottom:#e4e4e4 dashed 1px;font-size:14px;}
.jkpg_jisuan_00 a{ color:#06F;} 
#jkpg_jisuan_00{ line-height:20px; width:220px; height:30px; float:left;}
#jkpg_jisuan_00_let{ float:left; width:26px;}
#jkpg_jisuan_00_let img{ padding-left:10px;}
#jkpg_jisuan_00_ret{ float:left;text-align:center; width:100px;padding-left:12px;}
#jkpg_jisuan_00_ret input{ width:100px; height:24px; border:#e4e4e4 solid 1px; padding-left:5px; font-family:"微软雅黑"; color:#F00;}
.jkpg_yt_wz{ float:left;height:30px; line-height:30px; width:25px; padding-left:20px;}
.jkpg_yt_wz1{ float:left;height:30px; line-height:30px; width:120px; }
/*----------- bottom start------------- */
.bottom{ height:820px;}
.bottom_box_06 { background:#178a6b;}
.bottom_box_06img{width:1190px;margin:0 auto;}
.bottom_box_02{ width:1190px;margin:0 auto;padding-top:10px; border-bottom:#e4e4e4 solid 1px; background:#f7f7f7; height:165px; }
.bottom_box_02left{float:left; width:220px;height:165px; margin:5px 0 5px 0 ;}
.bottom_box_02mid{ float:left;width:750px;height:165px;margin:5px 0 5px 0 ;}
.bottom_box_02 li{ float:left; width:150px;height:105px; text-align:center; line-height:60px; font-size:18px; color:#000;}
.zi{ height:35px; line-height:35px;}
.bottom_box_03{ text-align:center; line-height:30px; padding:30px 0; color:#999;}
.bottom_box_03 a{color:#666;}
.bottom_box_03 a:hover{ color:#F30;}
.bottom_box_04{width:1190px; margin:0 auto; height:260px; padding-top:50px; border-bottom:#e4e4e4 solid 1px; font-family:"微软雅黑"; }
.bottom_box_04 li{ float:left; width:150px; line-height:30px; font-size:14px; color:#000; padding-left:73px;}
.bottom_box_04 a{ color:#000;}
.bottom_box_04 a:hover{ color:#999;}
.bottom_box_05{ color:#333; font-size:16px; }
